.header {
    width: 100%;
    margin: 0 auto;
    background-color: $bgc-dark;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 999;
    transition: $transition;
    &--catalog {

        background-color: rgba(51,51,51, 1);
    }
    &--menu {

        background-color: rgba(51,51,51, 1);
    }
    &--fixed {
        background: rgba(51,51,51,.78);
        position: fixed!important;
        .header__inner {
            padding: 0 15px;
        }

    }


    a {
        color: $color-light;
        text-decoration: none;
    }

    // .header__inner
    &__inner {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        transition: $transition;
    }

    // .header__logo

    &__logo {
        display: block;
    }


    // .header__img

    &__img {
        height: 50px;
    }

    // .header__nav
    &__nav {
        display: flex;
        align-items: center;

    }
    // .header__list
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    // .header__item
    &__item {
        display: inline-block;
        text-transform: uppercase;
    }
    &__item + &__item {
        margin-left: 30px;
    }

    // .header__dropdown

    &__dropdown {
        position: absolute;
        top: 80px;
        padding: 15px;
        left: 0;
        right: 0;
        display: none;
        justify-content: center;
        background-color: $bgc-gray;
        text-transform: none;
        &--active {
            display: flex;
        }
        &--fixed {
            top: 50px;
        }
    }

    // .header__dropdown-inner

    &__dropdown-inner {
    }

    // .header__dropdown-link

    &__dropdown-link {
    }

    // .header__dropdown-list
    &__dropdown-list {
        list-style: none;
        padding: 0;
        margin: 0;
        columns: 2;

    }

    // .header__dropdown-item

    &__dropdown-item {
        padding: 10px;
    }
    
    // .header__item-drop
    &__item-drop {
        
        display: block;

    }

    // .header__menu
    &__menu {
        left: 0;
        right: 0;
        // height: 150px;
        padding: 15px;
        
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80px;
        background-color: $bgc-gray;
        
        &--active {
            display: flex;
        }

        &--fixed {
            top: 50px;
        }
        
    }

    // .header__menu-list
    &__menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        columns: 2;
    }

    // .header__menu-item

    &__menu-item {
        text-transform: none;
        padding: 10px;
    }
    // .header__link
    &__link {
        display: block;
    }

    // .header__svg
    &__svg {
        height: 20px;
        color: $color-light;
    }

    // .header__lk

    &__lk {
        display: flex;
        align-items: center;
    }
}



