.not-found {
    text-align: start;
    // .not-found__title
    &__title {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding: 30px 0 40px;
        font-weight: 700;
    }

    // .not-found__text
    p {
        font-size: 12px;
        line-height: 17px;
        // text-transform: uppercase;
        letter-spacing: .1em;
        padding: 15px 0;
    }

    // .not-found__wrapper
    &__wrapper {

    }

    // .not-found__btn

    &__btn {
        width: 150px;
        padding: 15px 25px;
        background-color: #000000;
        transition: $transition;
        color: #fff;
        &:hover {
            color: $fonts-gray;

        }
        &:focus {
            color: $fonts-gray;

        }

    }
    
}